<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>首頁</title>
        <style>
            nav > ul {
  background-color: rgb(230, 230, 230);
  list-style: none;
  margin: 0;
  padding: 0;
}
nav a {
  color: inherit;
  font-size: 1.2rem;
  text-decoration: none;
}
nav a:hover {
  background-color: rgb(115, 115, 115);
  color: white;
}
nav a {
  color: inherit; 
  display: block; 
  font-size: 1.2rem;
  padding: 10px;
  text-decoration: none;
}
.flex-nav {
  display: flex;
  justify-content: center;
  justify-content:space-evenly;
}
</style>
    </head>
    <body>
        <nav>
            <ul class="flex-nav">
                <li><a href="home.html">我的簡介</a></li>
                <li><a href="TearsofThemis.html">我的興趣何論碼</a></li>
                <li><a href="HonKaiStarRail.html">我的自傳履歷</a></li>
                <li><a href="HonkaiImpact3.html">想求職的公司</a></li>
            </ul>
        </nav>
        <br>
         <table width="100%" border="0" align="center" bgcolor="#DCB5FF">
        <tr>
            <td>
                <div style="padding-left: 50px;"><h1>朱芷伶</h1>
                <h2 id="h2text">Zhi-Ling Zhu</h2>
                </div>
            </td>

            
        </tr>
    </table><br><br>
    <table width="90%" border="1" align="center" bgcolor="#F1E1FF">
        
        <tr>
            

            <td>
                <font size="5px">
                目前的期望:<br>
                <hr>
                1.未來的兩年半內，考到ERP證照<br>
                2.未來的兩年半內，考日文檢定<br>
                3.盡快考完英文檢定
                </font>
            </td>

            <td>
                <font size="5px">
                學歷:<br>
                靜宜大學<br>
                <hr>
                科系:<br>
                資訊管理學系<br>
                </font>
            </td>
        </tr>
    </table>
    <table width="90%" border="1" align="center" bgcolor="#F1E1FF">
        
        <tr>
            <td>
                <font size="5px">
                聯絡方式:<br>
                </font>
                <font size="4px">
                <hr>
                FB：<a href="https://www.facebook.com/profile.php?id=100037078835419" target="_blank">https://www.facebook.com/profile.php?id=100037078835419</a><br>
                <hr>
                Tel: <a href="tel:0903952579">09-03952579</a><br>
                <hr>
                G-Mail: <a href="mailto:lingling930616@gmail.com">lingling930616@gmail.com</a><br>
                </font>
                
            </td>
        </tr>
    </table>
    <br>
    <marquee direction="left" bgcolor="#FFBFFF">Copyright © 2023-9487 Zhi-Ling Zhu's</marquee>
         

    </body>
</html>