<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>我的簡歷</title>
        <style>
            nav > ul {
  background-color: rgb(230, 230, 230);
  list-style: none;
  margin: 0;
  padding: 0;
}
nav a {
  color: inherit;
  font-size: 1.2rem;
  text-decoration: none;
}
nav a:hover {
  background-color: rgb(115, 115, 115);
  color: white;
}
nav a {
  color: inherit; 
  display: block; 
  font-size: 1.2rem;
  padding: 10px;
  text-decoration: none;
}
.flex-nav {
  display: flex;
  justify-content: center;
  justify-content:space-evenly;
}
</style>
    </head>
    <body bgcolor="#FFFFFF">
        <nav>
            <ul class="flex-nav">
                <li><a href="home.html">我的簡介</a></li>
                <li><a href="TearsofThemis.html">我的興趣何論碼</a></li>
                <li><a href="HonKaiStarRail.html">我的自傳履歷</a></li>
                <li><a href="HonkaiImpact3.html">想求職的公司</a></li>
            </ul>
        </nav>
        <br>
         <table width="100%" border="0" align="center" bgcolor="#46A3FF">
        <tr>
            <td><font size="5px" color="#FFFFFF">
                <div style="padding-left: 70px;"><h2>朱芷伶</h2></div></font>
                <font size="3px" color="#FFFFFF"><div style="padding-left: 60px;"><h3 id="h3text">Zhi-Ling Zhu's website</h3></div></font>
                
            </td>
            <td><font size="4px" color="#FFFFFF">
                <div style="padding-left: 700px;" >FB：<a href="https://www.facebook.com/profile.php?id=100037078835419" target="_blank">朱芷伶</a><br>
                <hr>
                Tel: <a href="tel:0903952579">09-03952579</a><br>
                <hr>
                G-Mail: <a href="mailto:lingling930616@gmail.com">lingling930616@gmail.com</a><br></div>

            
        </tr>
    </table><br><br><br>
    <table width="80%" border="0" align="center">
        
        <tr>
            

            <td>
                <font size="5px">
                <strong>簡歷</strong></font>
                <hr>
                <font size="4px">
                由於從小對藝文方面很有興趣，加上在家人都是讀跟美工設計相關科目之中耳濡目染，又大學學習了程式設計與網架設，並覺得網頁設計十分有趣，所以想走網頁設計相關工作。</font>
                
            </td>   
        </tr>
    </table><br>
    <table width="80%" border="0" align="center">
        
        <tr>
            <td>
                
                <font size="5px">
                <strong>我的何論碼</strong></font>
                <hr>
                <font size="4px">
                我的何論碼是 <strong>A 藝術型</strong> 和 <strong>S 社會型</strong>。<br>
                對於設計方面的美感有意定的瞭解且大有想法，面對客戶也能大方介紹及溝通。

                </font>
                
              
                
            </td>
        </tr>
    </table><br>
    <table width="80%" border="0" align="center">
        
        <tr>
            <td>
                
                <font size="5px">
                <strong>語言能力</strong></font>
                <hr>
                <font size="4px">
                <strong>中文</strong>:母語，文字接受繁體和簡體<br><br>
                <strong>英文</strong>:基本會話<br><br>
                <strong>日文</strong>:基本會話
                

                </font>
                
              
                
            </td>
        </tr>
    </table><br>
    <table width="80%" border="0" align="center">
        
        <tr>
            <td>
                
                <font size="5px">
                <strong>專業技能</strong></font>
                <hr>
                
            </td>
        </tr>
    </table>
    <table width="80%" border="1" align="center">
        
        <tr>
            <td align="center">
                <font size="4px">
                <strong>HTML       </strong></font><font size="2px" color="#9D9D9D">初階</font><hr>
                有基礎程式設計能力
            </td>
            <td align="center">
                <font size="4px">
                <strong>Python       </strong></font><font size="2px" color="#9D9D9D">初學</font><hr>
                有基礎程式設計能力

            </td>
            <td align="center">
                <font size="4px">
                <strong>Java       </strong></font><font size="2px" color="#9D9D9D">初階</font><hr>
                有基礎程式設計能力   
            </td>
        </tr>
    </table><br>
    <table width="80%" border="0" align="center">
        
        <tr>
            <td>
                
                <font size="5px">
                <strong>優缺點</strong></font>
                <hr>
                
            </td>
        </tr>
    </table>

    <table width="80%" border="1" align="center">
        
        <tr>
            <td align="center">
                <font size="4px">
                <strong>優點</strong></font><hr>
                有同理心<br>
                有耐心<br>
                對事物抱有很大的好奇心<br>
            </td>
            <td align="center">
                <font size="4px">
                <strong>缺點</strong></font><hr>
                專注力沒有很好:<br>但可用意志力能撐過去<br>
                無特別精通項目<br>

            </td>
        </tr>
    </table><br>
    </body>
</html>