<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>何論碼</title>
        <style>
            nav > ul {
  background-color: rgb(230, 230, 230);
  list-style: none;
  margin: 0;
  padding: 0;
}
nav a {
  color: inherit;
  font-size: 1.2rem;
  text-decoration: none;
}
nav a:hover {
  background-color: rgb(115, 115, 115);
  color: white;
}
nav a {
  color: inherit; 
  display: block; 
  font-size: 1.2rem;
  padding: 10px;
  text-decoration: none;
}
.flex-nav {
  display: flex;
  justify-content: center;
  justify-content:space-evenly;
}
</style>
    </head>
    <body>
        <nav>
            <ul class="flex-nav">
                <li><a href="home.html">我的簡介</a></li>
                <li><a href="TearsofThemis.html">我的興趣何論碼</a></li>
                <li><a href="HonKaiStarRail.html">我的自傳履歷</a></li>
                <li><a href="HonkaiImpact3.html">想求職的公司</a></li>
            </ul>
        </nav>  
        <br>
        <font size="5px">
            <br><br>
        <div style="padding-left: 160px;" >1.Holland 碼三碼以及Holland 碼的類型名稱：</div><br>
    <img src="/static/h1.jpg" width="65%" style="display:block; margin:auto;" />
    </img><br>
        <div style="padding-left: 160px;">2. 我的Holland 碼職業性格描述，以幫助我了解自己的職業性格傾向、價值觀以及適合我<br>
            的職業領域等：
        </div><br>
    <img src="/static/h2.jpg" width="65%" style="display:block; margin:auto;" />
    </img><br>
        <div style="padding-left: 160px;">3.大專校院就業職能平台(UCAN)將職業性格類型分為六類來描述不同的職業性格傾向與適<br>合的職業環境，分別為：實用型、研究型、藝術型、社會型、企業型及事務型，各類型滿<br>分為十二分，以下是我在六類職業性格類型分數上的得分：</div>
    <img src="/static/h3.jpg" width="65%" style="display:block; margin:auto;" />
    </img><br>
    <div style="padding-left: 160px;">4.以下是何論碼結果:<br><br></div>
    <img src="/static/h4.jpg" width="50%" style="display:block; margin:auto;" />
    </img>
    <div style="padding-left: 160px;">我的職業性格主要為<strong>A藝術型、S社會型</strong>，在各類型滿分12分中，藝術型的分數是9分、社<br>會型的分數是7分，在我個人的六類型分數比較中：<br><br>
　　我對藝術型、社會型的職業興趣相較於對其他類型的興趣有明顯的區分，也就是說，<br>我對藝術型、社會型的職業興趣很明顯地高於其他類型。</div>
    <br>
    <br>
    <img src="/static/h5.jpg" width="65%" style="display:block; margin:auto;" />
    </img><br>
    <div style="padding-left: 160px;">藝術型的人是典型的“創作者”(Creator)，性格特徵為<strong>有創意、想像、直覺、獨立、具演藝<br>表達性、跳脫框架限制、不傳統媚俗、理想化、敏銳感性</strong>。<br><br>
         在職業性格傾向上，喜歡以自己的<strong>感性、情緒、直覺和想像</strong>，運用文字、影像、聲音、色<br>彩或動作從事創造力與美之藝術創作，並表現出自我的風格，相對地較缺乏處理文書事務<br>能力。<br><br>
         藝術型的價值觀注重審美與想像力，開放心胸面對各種感覺、見解和周遭人事物，富有勇<br>氣嘗試新的事物而<strong>不喜歡受約束</strong>，人際互動模式也較為隨興，
         在問題解決策略上，依據<br>主觀的印象及想像來覺察問題，以藝術性天份與個人特質(如直觀)來解決問題。<br><br>
         藝術型適合需要敏銳感覺能力、想像力及創造力的工作，<strong>其典型職業為：音樂家、詩人、<br>作家、舞台導演、室內設計師、演員、作曲家、指揮家等</strong>。</div>
         <br><br>
    <img src="/static/h6.jpg" width="65%" style="display:block; margin:auto;" />
    </img><br>
    <div style="padding-left: 160px;">社會型的人是典型的“幫助者”(helper)，在性格特徵上是合作、友善、慷概、助人、仁慈、<br>負責、善社交、善解人意、敏銳、圓融、和善。
         在職業性格傾向上，社會型的人<strong>對人親<br>切和善、體恤他人、容易相處</strong>，關心自己與他人的感受，喜歡傾聽和了解他人，喜歡運用<br>與他人交往的能力來教導或幫助他人、改變他人的行為。<br><br>
         社會型的價值觀是相信人人平等，不喜歡競爭、喜歡團體合作，並願意協助解決他人的衝<br>突，<strong>喜歡教導別人、幫助他人成長</strong>。<br><br>
         在問題解決策略上，重視以人際互動及關係來覺察及檢視問題，<strong>關心人勝於關心工作</strong>，偏<br>好以感情及情緒而非理性去解決問題，較不認同具邏輯、才智或有著刺激精采的生活很重<br>
         要。<br><br>
         社會型的人喜歡從事幫助人與教導人的工作，其典型職業為：<strong>教師、輔導人員、傳教士、<br>精神科醫師、護士、職能治療師、社工師、人力資源專員、調酒師、理財專員、物理治療<br>師等</strong>。</div><br><br>
         
    </font>
    <table width="90%" border="0" align="center">
        <tr>
            <td align="center">
                <font size="4px" color="#003D79">
                <em><strong>若將我的測驗結果與全台灣的大學生進行比較:<br>
                我對藝術型的職業興趣之百分等級是PR93，也是說我對藝術型職業類型的興趣程度在100個人裡面超過93人<br>我對社會型的職業興趣之百分等級是PR70，也是說我對社會型職業類型的興趣程度在100個人裡面超過70人</em></strong>
            </td>
        </tr>
    </table>
    <br><br>


        
        <marquee direction="left" >資料來源: UCAN大專學院就業職能平台<a href="https://ucan.moe.edu.tw/Account/Login.aspx">https://ucan.moe.edu.tw/Account/Login.aspx</a></marquee>
    </body>
</html>